.App {
  font-family: "Glory", sans-serif;
  color: #63110a;
  height: 100vh;
  padding-top: 50px;
}
.wholePageImg {
  background-size: auto;
  background-position: top left;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .App {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
