.MainSection {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  border-style: solid;
  border-color: #72a298;
  padding: 10px;
  border-radius: 12px;
  border-width: 6px;
  background-color: #e2ecea;
  box-shadow: 5px 5px 1px #f3f7f6;
}

h2 {
  font-size: 30px;
  text-align: left;
  text-align: center;
  padding-top: 8px;
}
h6 {
  text-align: center;
  font-style: italic;
}
.currentIcon {
  height: 140px;
  vertical-align: middle;
  margin: 0 auto;
}
.currentTempWithUnits {
  display: inline;
}
.currentTemp {
  font-size: 30px;
}
.currentUnits {
  font-size: 20px;
}
.currentDesc {
  font-size: 26px;
}
.otherCurrentDesc {
  font-size: 20px;
}
hr {
  margin-bottom: 0;
}

.weeklyForecast {
  margin-top: 30px;
}

.dailyForecast {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.day {
  font-weight: 600;
}

.forecastIcon {
  max-width: 60%;
  margin: 0 auto;
}
