.Header {
  display: flex;
  position: relative;
  justify-content: center;
  top: 5px;
}

.citySearch {
  border-radius: 20px;
  font-size: 18px;
  border-radius: 6px;
  border: 4px solid #72a298;
  outline-width: 0px;
  box-shadow: 5px 5px 2px #e2dede;
  height: 46px;
  width: 300px;
}

button {
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  padding: 4px 16px 4px 16px;
  margin-left: 10px;
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 65%;
}

.search {
  background-color: #72a298;
  color: white;
  box-shadow: 5px 5px 2px #e2dede;
  border: 4px solid #e88d66;
}
.currentLoc {
  background-color: white;
  color: #72a298;
  border-style: solid;
  border: #849299;
  border-width: 6px;
  margin-right: 0;
  box-shadow: 5px 5px 2px #e2dede;
  border: 4px solid #e88d66;
}

.MainSection {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-right: 120px;
  border-style: solid;
  border-color: #72a298;
  padding: 10px;
  border-radius: 12px;
  border-width: 6px;
  background-color: #e2ecea;
  box-shadow: 5px 5px 1px #f3f7f6;
}

h2 {
  font-size: 30px;
  text-align: left;
  text-align: center;
  padding-top: 8px;
}
h6 {
  text-align: center;
  font-style: italic;
}

.currentTempWithUnits {
  display: inline;
}
.currentTemp {
  font-size: 40px;
}
.currentUnits {
  font-size: 18px;
  position: relative;
  top: -12px;
}
.currentUnits a {
  text-decoration: none;
}
.currentUnits a:hover {
  opacity: 80%;
}
.currentDesc {
  font-size: 24px;
}
.otherCurrentDesc {
  font-size: 20px;
}
hr {
  margin-bottom: 0;
}

.weeklyForecast {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: solid 3px #b8d0cb;
  border-radius: 6px;
}

.dailyForecast {
  display: flex;
  justify-content: center;
  text-align: center;
}

.day {
  font-weight: 600;
  font-size: 20px;
}

.forecastIcon {
  max-width: 60%;
  margin: 0 auto;
}

.minTemp {
  opacity: 75%;
}
