.Header {
  display: flex;
  position: relative;
  justify-content: center;
  top: 5px;
}

.citySearch {
  border-radius: 20px;
  font-size: 18px;
  border-radius: 6px;
  border: 4px solid #c25532;
  outline-width: 0px;
  box-shadow: 5px 5px 2px #e2dede;
  height: 46px;
  width: 300px;
}

button {
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  padding: 4px 16px 4px 16px;
  margin-left: 10px;
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 65%;
}

.search {
  background-color: #c25532;
  color: white;
  box-shadow: 5px 5px 2px #e2dede;
  border: 4px solid #c25532;
}

.MainSection {
  max-width: 600px;
  margin: 0 auto;
  border-style: solid;
  border-color: #c25532;
  padding: 10px;
  border-radius: 20px;
  border-width: 8px;
  background-color: white;
}

h2 {
  font-size: 30px;
  text-align: left;
  text-align: center;
  padding-top: 8px;
  font-weight: bold;
}
h6 {
  text-align: center;
  font-style: italic;
}
.currentWeatherIcon {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.currentTempWithUnits {
  display: inline;
}
.currentTemp {
  font-size: 48px;
}
.currentUnits {
  font-size: 18px;
  position: relative;
  top: -20px;
}
.currentUnits a {
  text-decoration: none;
}
.currentUnits a:hover {
  opacity: 80%;
}
.currentDesc {
  font-size: 24px;
}
.otherCurrentDesc {
  font-size: 20px;
}
.weatherToday {
  margin-bottom: 20px;
}
.weeklyForecast {
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  border: solid 3px #ecccc1;
  border-radius: 20px;
}

.dailyForecast {
  display: flex;
  justify-content: center;
  text-align: center;
}

.day {
  font-weight: 600;
  font-size: 20px;
}

.forecastIcon {
  max-width: 60%;
  margin: 0 auto;
}

.minTemp {
  opacity: 0.75;
}

@media (min-width: 577px) {
  .formBr {
    display: none;
  }
}

@media (max-width: 576px) {
  .MainSection {
    margin-left: 20;
    margin-right: 20;
  }
  .citySearch {
    justify-content: center;
    width: 200px;
  }
  .search {
    margin-top: 6px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
  }
  .weatherForecastDay {
    margin-top: 14px;
  }
  .maxTemp {
    font-size: 18px;
  }
  .minTemp {
    font-size: 18px;
  }
  .precipitationPercent {
    font-size: 18px;
  }
  .otherCurrentDesc {
    text-align: center;
  }
  .currentWeatherIcon {
    display: flex;
    justify-content: center;
  }
}
